<div class="text-center m-5">
    <hr>
        <h1>
            Login de la App
        </h1>
    <hr>
</div>

<div class="container">
    <form action="/login" method="post">

        <div class="mb-3">
            <label for="email" class="form-label">Email: </label>
                <input type="text" class="form-control" id="email" name="email" placeholder="email@mail.com">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <div class="text-center">
            <button class="btn btn-danger w-50" type="submit">Login Administrador</button>
        </div>
    </form>
</div>