<div class="text-center m-5">
    <hr>
        <h1>
            Registro de Usuario
        </h1>
    <hr>
</div>

<div class="container">
    <form action="/" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre: </label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email: </label>
                <input type="text" class="form-control" id="email" name="email" placeholder="email@mail.com">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <div class="text-center">
            <button class="btn btn-primary w-50" type="submit">Registrarse</button>
        </div>
    </form>
</div>